<table class="layui-table">
    <colgroup>
        <col width="150">
        <col width="150">
        <col width="150">
        <col width="300">
        <col>
    </colgroup>
    <thead>
    <tr>
        <th>用户名</th>
        <th>职位</th>
        <th>联系方式</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    {{range .users }}
    <tr>
        <td>{{ .Name }}</td>
        <td>{{ .Role | Roles }}</td>
        <td>{{ .Phone }}</td>
        <td>
            {{if compare $.conuserrole 2}}
            <a href="/user/info?id={{.ID}}" class="layui-btn layui-btn-radius" right="2" >查看</a>
            <a href="/user/change?id={{.ID}}" class="layui-btn layui-btn-radius layui-btn-warm" >编辑</a>
            <a href="/user/change/userpass?id={{.ID}}" class="layui-btn layui-btn-radius layui-btn-warm" >重置密码</a>
            <a href="/user/del?id={{.ID}}" class="layui-btn layui-btn-radius layui-btn-danger" methods="delete" >删除</a>
            {{end}}
        </td>
    </tr>
    {{end}}
    </tbody>
</table>

