<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>更改密码</title>
        <script src="/js/quit.js"></script>
    </head>
    <body>
        <form action="/user/passwd/" method="POST">
            <table>
                <tr>
                    <td>
                        <label>旧密码：</label>
                    </td>
                    <td>
                        <input type="password" name="oldpassword" value=""/> {{ .Errors.oldpassword }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>新密码：</label>
                    </td>
                    <td>
                        <input type="password" name="newpassword" value=""/> {{ .Errors.newpassword }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>确认密码：</label>
                    </td>
                    <td>
                        <input type="password" name="confirmpassword" value=""/> {{ .Errors.confirmpassword }}
                    </td>
                </tr>
            </table>
            <input type="hidden" name="id" value="{{.User.ID}}"/>
            {{ .Errors.submit }}
            <input type="submit" value="提交"/> 
            <input type="button" value="退出" onclick="quit('/user/mod/')"/>
        </form>
    </body>
</html>