<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>添加任务</title>
    <link rel="stylesheet" type="text/css" href="/static/css/mystyle.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/form.css" />
</head>
<body>
    <h3>添加任务</h3>
    <form method="POST" action="/task/add/">
        <label>名称: </label>
        <input type="text" name="name" value="{{ .Task.Name }}" placeholder="task name..." required />{{ .Error.name }}<br />

        <label>开始: </label>
        <input type="datetime-local" name="start_time" value="{{ .Task.StartTime }}" required /> <br />

        <label>结束: </label>
        <input type="datetime-local" name="complete_time" value="{{ .Task.CompleteTime }}"  /><br />

        <label>期限: </label>
        <input type="datetime-local" name="deadline_time" value="{{ .Task.DeadlineTime }}" required />{{ .Error.deadlineTime }} <br />

        <label>用户:</label>
        <select name="user">
            {{ range .User }}
            <option value="{{ .ID }}">{{ .Name }}</option>
            {{ end }}
        </select>
        <br />

        <label>详情: </label><br />
        <textarea name="content" placeholder="task description...">{{ .Task.Content }}{{ .Error.content }}</textarea><br />
        <input type="submit" value="提交" />
    </form>
</body>
</html>