<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>tasks</title>
  </head>
  <body>
    <table>
      <thead>
        <tr>
          <th>name</th>
          <th>user</th>
          <th>status</th>
          <th>start</th>
          <th>comm</th>
          <th>dead</th>
        </tr>
      </thead>
      <tbody>
        {{ range .Tasks }}
        <tr>
          <td>{{ .Name }}</td>
          <td>{{ .User }}</td>
          <td>{{ status .Status }}</td>
          <td>{{ datatime .StartTime }}</td>
          <td>{{ datatime .CompleteTime }}</td>
          <td>{{ datatime .DeadlineTime }}</td>
        </tr>
        {{ end }}
      </tbody>
    </table>
  </body>
</html>