<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>tasks</title>
  </head>
  <body>
    <table>
      <a href="/add/">add</a>
      <thead>
        <tr>
          <th>name</th>
          <th>user</th>
          <th>status</th>
          <th>start</th>
          <th>comm</th>
          <th>dead</th>
          <th>op</th>
        </tr>
      </thead>
      <tbody>
        {{ range .Tasks }}
        <tr>
          <td>{{ .Name }}</td>
          <td>{{ .User }}</td>
          <td>{{ .StatusText }}</td>
          <td>{{ datetime .StartTime }}</td>
          <td>{{ datetime .CompleteTime }}</td>
          <td>{{ datetime .DeadlineTime }}</td>
          <td><a href="/delete/?id={{ .ID }}">del</td>
          <td><a href="/edit/?id={{ .ID }}">edit</td>
        </tr>
        {{ end }}
      </tbody>
    </table>
  </body>
</html>