<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>运维平台</title>
    <link rel="stylesheet" href="../static/css/layui.css">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">运维平台</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                    {{$.UserName}}
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="/user/my/info">基本资料</a></dd>
                    <dd><a href="/user/change/mypass">修改密码</a></dd>
                    <dd><a href="/LoginOut">退出登陆</a></dd>
                </dl>
            </li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">用户管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/user/show?UserIndex=1">用户列表</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item  ">
                    <a href="javascript:;">任务管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/task/show?taskIndex=1">任务列表</a></dd>
                        <dd><a href="/user/show?UserIndex=1">任务发布</a></dd>
                    </dl>
                </li>

                <li class="layui-nav-item   ">
                    <a href="javascript:;">Kubernetes</a>
                    <dl class="layui-nav-child">
                        <li class="layui-nav-item   ">
                            <a href="javascript:;">资源列表</a>
                            <dl class="layui-nav-child">
                            <dd><a href="javascript:;">deploy</a></dd>
                            <dd><a href="javascript:;">sts</a></dd>
                            </dl>
                        </li>
                        <dd><a href="javascript:;">水平看板</a></dd>
                    </dl>
                </li>

            </ul>
        </div>
    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">{{.LayoutContent}}</div>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © layui.com - 底部固定区域
    </div>
</div>
<script src="../static/layui.js"></script>
<script>
    //JavaScript代码区域
    layui.use('element', function(){
        var element = layui.element;

    });
</script>
</body>
</html>
