<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ config "String" "TaskTitle" "任务管理" }}</title>
    <link rel="stylesheet" type="text/css" href="/static/css/mystyle.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/search.css" />
</head>
<body>
    <h3>查询任务:</h3>
    <form method="GET" action={{ urlfor "TaskController.Query" }}>
        <div id="search">
            <input type="text" name="query" required autofocus>
        </div>
        <br>
    </form>

    <!-- <h3 style="text-align: center;">查询结果</h3> -->
    <hr>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>名称</th>
                <th>开始时间</th>
                <th>结束时间</th>
                <th>截止时间</th>
                <th>任务详情</th>
                <th>状态</th>
                <th>用户</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            {{ range .tasks }}
            <tr>
                <td>{{ .ID }}</td>
                <td>{{ .Name }}</td>
                <td>{{  dateformat .StartTime  "2006-01-02 15:04:05" }}</td>
                <td>{{  dateformat .CompleteTime  "2006-01-02 15:04:05" }}</td>
                <td>{{  dateformat .DeadlineTime  "2006-01-02 15:04:05" }}</td>
                <td>{{  .Content }}</td>
                <td>{{ .StatusText }}</td>
                <td>{{ .RealUser }}</td>
                <td>
                    <a href="/task/modify/?id={{ .ID }}">编辑</a>
                    <a href="/task/delete/?id={{ .ID }}">删除</a>
                </td>
            </tr>
            {{ end }}
        </tbody>
    </table>
</body>
</html>