<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>删除任务</title>
    <link rel="stylesheet" type="text/css" href="/css/mystyle.css" />
</head>
<body>
    <div id="header">
        <h2>删除任务</h2>
    </div>
    <form method="POST" action="/delete/">
        <label>任务名称: </label><input type="text" name="name" required autofocus >
        <input type="submit" value="提交"><br>
    </form>
</body>
</html>