[Unit]
Description=Prometheus
Documentation=
After=network.target

[Service]
WorkingDirectory=/opt/prometheus/
ExecStart=/opt/prometheus/prometheus
ExecStop=/bin/kill -KILL $MAINPID
Type=simple
KillMode=control-group
Restart=on-failure
RestartSec=3s

[Install]
WantedBy=multi-user.target