<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task List</title>
</head>
<body>
{{ if .err }}
    <div>{{ .errstr }}</div>
{{ else }}
    <table border="1">
        <tr>
            {{ range .theader }}
                <th>{{ . }}</th>
            {{ end }}
            <th>OPERATION</th>
        </tr>
        {{ range .tbody }}
            <tr>
                <td>{{ .Id }}</td>
                <td>{{ .Name }}</td>
                <td>{{ .StartTime }}</td>
                <td>{{ .EndTime }}</td>
                <td>{{ .Status }}</td>
                <td>{{ .User }}</td>
                <td>
                    <a href="/updatetask/{{ .User }}/{{ .Id }}" >
                        <button type="button">UPDATE</button>
                    </a>
                    <a href="">
                        <button type="button">DELETE</button>
                    </a>
                </td>
            </tr>
        {{ end }}
        <tr>
            <td>SUM</td>
            <td colspan="6" align="center">{{ .resultcnt }}</td>
        </tr>
    </table>
{{ end }}
</body>
</html>